body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    width: 100%;
    height: 100vh;
}

.navigation-bar {
    width: calc(100% - 80px);
    height: 80px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.products {
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

.about_us {
    width: 100%;
    height: 15%;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 60px;
    margin-right: 10px;
}

.text {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-container {
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

input {
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
}

input:focus-visible {
    outline: 0;
}

.search-img {
    height: 20px;
    cursor: pointer;
}

.log {
    display: flex;
}

.log button {
    width: 60px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(255, 150, 150);
}

.log button:hover {
    background-color: rgb(255, 124, 124);
}

.log button:first-child {
    margin-right: 5px;
}